extends ../layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/aliens/signup' role='button') Sign Up 
  a(href='/aliens/signin' role='button') Sign In  

  table
    thead
      tr
        th Name
        th Phone
  
  tbody
      tr
        td= thisAlien.name
        td= thisAlien.phone
            a(href='/aliens/dash' role='button') Dash

  form(action='/aliens/signout' method='post')  
      div
        input(type='submit' name='logout' value='Log Out')
