extends ../layout

block content

  h2 Alien Sign In

  include ../error.jade

  form(action='/aliens/signin' method='post') 
    div
    label(name='name') Name
      input(type='text' name='name') 
    div
    label(name='password') Password
      input(type='text' name='password') 
      div
        input(type='submit' name='signup' value='Sign In')